@media screen and (max-width: 1024px) and (min-width: 768px) {
  .nav {
    padding: 18px 0 0;
    line-height: 40px;
  }
  .nav h2 .logo {
    width: 42px;
    height: 42px;
  }

  .inner_cell p {
    font-size: 120px;
  }



  .inner_text {
    padding-left: 50px;
    padding-right: 50px;
  }

  .imgbutton {
    width: 34px;
    height: 17px;
  }
}
