@media screen and (max-width: 1024px) and (min-width: 768px) {
  .nav {
    padding: 18px 0 0;
    line-height: 40px;
  }
  .nav h2 .logo {
    width: 42px;
    height: 42px;
  }

  .main {
    height: 520px;
  }

  .main_inner {
    background-image: url(project2/project2_main_768_img1@2x.png);
    max-width: 637px;
  }
  .inner_cell {
    top: 200px;
  }
  .inner_cell p {
    font-size: 32px;
    letter-spacing: -0.3px;
    line-height: 38px;
    opacity: 0.9;
  }
    .inner_cell p span{
    font-size: 22px;
    }
        .close{
    position: fixed;
    right: 32px;
}
  .summary_content {
    width: 637px;
  }

  .contents_warp p {
    float: none;
    margin-bottom: 52px;
    font-size: 20px;
    line-height: 22px;
  }

  .contents_box {
    margin-left: 0;
  }

  .contents_box p1 {
    font-size: 18px;
    line-height: 35px;
    letter-spacing: -0.5px;
  }

  .story {
    margin-top: 100px;
  }

  .story_content {
    width: 637px;
  }
}
